aioredis==1.3.0
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
certifi==2019.9.11
cffi==1.13.2
channels==2.3.1
channels-redis==2.4.1
chardet==3.0.4
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.2
daphne==2.4.0
decorator==4.4.1
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.7
django-allauth==0.40.0
django-braces==1.13.0
django-cors-middleware==1.4.0
django-filter==2.2.0
django-oauth-toolkit==1.2.0
django-oauth2-provider==0.2.6.1
django-rest-auth==0.9.5
django-rest-framework-social-oauth2==1.1.0
django-rest-swagger==2.1.1
django-uuidfield==0.5.0
djangorestframework==3.10.3
drf-yasg==1.17.0
fcm-django==0.3.2
gcloud==0.17.0
googleapis-common-protos==1.6.0
gunicorn==20.0.0
hiredis==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10.3
jws==0.1.3
MarkupSafe==1.1.1
msgpack==0.6.2
oauth2==1.9.0.post1
oauth2client==3.0.0
oauthlib==3.0.0
openapi-codec==1.3.2
packaging==19.2
Pillow==6.2.1
protobuf==3.10.0
provider==0.1.0
psycopg2==2.8.4
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
pycryptodome==3.4.3
pyfcm==1.4.7
PyHamcrest==1.9.0
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.5
python-decouple==3.1
python-firebase==1.2
python-jwt==2.0.1
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.7.0
rsa==4.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
selenium==3.141.0
service-identity==18.1.0
shortuuid==0.5.0
simplejson==3.16.0
six==1.13.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
splinter==0.11.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
uritemplate==3.0.0
urllib3==1.25.6
whitenoise==3.3.1
zope.interface==4.7.1
